@using GestorPacientes.Core.Application.ViewModels.Doctors

@model SaveDoctorsViewModel
@{
      ViewData["Title"] = "Delete";
}

 <div class="col-6 offset-3">
        <div class="card bg-danger">
            <div class="card-header bg-white text-dark">
                <h5>Are you sure that you want to delete this user? @Model.Name</h5>
            </div>
            <div class="card-body" style="background-color: #d3d3d3">
                <form method="post" asp-controller="Doctor" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id" />
                    <button class="btn btn-danger">Delete</button>
                    <a asp-controller="Doctor" asp-action="Index" class="btn btn-success">Cancel</a>
                </form>
            </div>
        </div>
    </div>
