@model GestorPacientes.Core.Application.ViewModels.LaboratoryTestResult.SaveLaboratoryTestResultViewModel
@{
    ViewData["Title"] = "Laboratory Test";
    var medicalAppointment = @ViewBag.medicalId;
}

<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-white text-dark text-center">
              <h5><i class="fa-solid fa-flask-vial"></i></h5>
            </div>
            <div class="card-body" style="background-color: #d3d3d3">
                <form method="post" asp-controller="LaboratoryTestResult" asp-action="Create">
                    <input type="hidden" value="@medicalAppointment" asp-for="IdMedicalAppointment" />
                    <div class="mb-3">
                        <label asp-for="IdLaboratoryTest" class="form-label">Laboratory Test: </label>
                        <select asp-for="LaboratoryTests" class="form-control selectpicker" multiple>
                            @if (ViewBag.laboratory != null)
                            {
                                <option value="0">Select a Laboratory Test</option>
                                @foreach (var laboratoryTest in ViewBag.laboratory)
                                {
                                    <option value="@laboratoryTest.Id">@laboratoryTest.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="IdLaboratoryTest" class="text-danger"></span>
                    </div>
    
                    <input type="hidden" asp-for="Id" />
                    <a asp-controller="MedicalAppointment" asp-action="Index" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-light">Save</button>

                </form>
            </div>
        </div>
    </div>
</div>